@using UbikLink.Common.RazorUI.Errors
@using UbikLink.Common.RazorUI.Components

<ErrorBoundary>
    <ChildContent>
        @if (_isLoaded)
        {
            <UbikContentGridTopPanel>
                <FluentStack Orientation="Orientation.Vertical">
                    <div>
                        <h2 class="tw-mb-2 tw-text-2xl tw-font-bold">Edit authorization</h2>
                        <UbikWarningCard FirstMsg="Be careful when changing the authorization code field. It can have security impacts."
                                         SecondMsg="Authorization codes can be used for controlling resources accesses directly."></UbikWarningCard>
                    </div>
                </FluentStack>
                <UbikFluentToolbar>
                    <FluentOverflowItem>
                        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
                                      Disabled="@(!RendererInfo.IsInteractive)"
                                      OnClick="LoadAuthorizationAsync"
                                      Loading="@_isSaving">Refresh</FluentButton>
                    </FluentOverflowItem>
                </UbikFluentToolbar>
            </UbikContentGridTopPanel>
            <div class="tw-mb-3 tw-h-auto tw-w-full tw-overflow-auto">
                <div class="tw-w-min-[620px]">
                    <EditForm Model="@Edit" OnValidSubmit="HandleValidSubmitAsync" id="edit_authorization" novalidate>
                        <DataAnnotationsValidator />
                        <div class="tw-flex tw-w-full tw-flex-col">
                            <div class="tw-mb-6 tw-w-full tw-break-words sm:tw-w-[325px]">
                                <FluentLabel>Id</FluentLabel>
                                <FluentLabel>@Edit.Id</FluentLabel>
                            </div>
                            <div class="tw-mb-2 tw-w-[250px]">
                                <FluentTextField AriaLabel="Code" Style="width:100%;" Required="true" @bind-Value="Edit.Code" MaxLength="50" Label="Code"></FluentTextField>
                                <FluentValidationMessage For="@(() => Edit.Code)" />
                            </div>
                            <div class="tw-mb-2 tw-w-full sm:tw-w-[450px]">
                                <FluentTextArea AriaLabel="Description" Style="width:100%;" Rows="5" Cols="50" MaxLength="500" @bind-Value="Edit.Description" Label="Description"></FluentTextArea>
                                <FluentValidationMessage For="@(() => Edit.Description)" />
                            </div>
                        </div>
                        <FluentValidationSummary class="tw-mt-6">
                        </FluentValidationSummary>
                    </EditForm>
                </div>
            </div>
            <UbikContentBottom>
                <UbikFormBottomActions FormId="edit_authorization" OnClose="Close" IsSavingInProgress="_isSaving" />
            </UbikContentBottom>
        }
    </ChildContent>
    <ErrorContent>
        <GeneralErrorHandler MainErrorMsg="Authorization module in error"></GeneralErrorHandler>
    </ErrorContent>
</ErrorBoundary>
